<!-- about section -->

<section class="about_section layout_padding">
  <div class="container">
    <div class="detail-box">
      <div class="heading_container heading_center">
        <h2>
          About Us
        </h2>
      </div>
      <p>
      Welcome to RSun Consultancy. – A premier job consultancy that connects talent with opportunities!
      
      At RSun Consultancy, we believe in empowering individuals to reach their full potential while assisting companies in discovering the brightest talent. With a strong focus on Job Fairs, Workshops, and Career Development, we create platforms that foster personal and professional growth.
      
      Our Mission
      Our mission is to bridge the gap between job seekers and employers by organizing dynamic and impactful events. We aim to make the job search process easier, faster, and more rewarding for both candidates and companies. By providing a variety of tailored solutions, we help individuals build careers they are passionate about and assist businesses in finding top-tier talent to drive success.
      </p>
    </div>
    <div class="col-md-9 mx-auto px-0">
      <div class="img-box">
        <img src="/assets/about-img.png" alt="">
      </div>
      <div class="btn-box">

      </div>
    </div>
  </div>
</section>

<!-- end about section -->

