<!-- job section -->
<section class="job_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>
        Latest Events
      </h2>
    </div>
    <div class="job_container">
      
      <div class="tab-content" id="myTabContent">
        <div class="job_board tab-pane fade show active" id="jb-1" role="tabpanel" aria-labelledby="jb-1-tab">
          <div class="box">
            <div class="job_content-box">
              <div class="img-box">
                <img src="/assets/job_logo3.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Talent Fair - A job fair programme
                </h5>
                <div class="detail-info">
                  <h6>
                    Place:
                    <span>
                      Madurai
                    </span>
                  </h6>
                  <h6>
                    Fees:
                    <span>
                      Free
                    </span>
                  </h6>
                </div>
              </div>
            </div>
            <div class="option-box">
              <button class="fav-btn">
              </button>
              <a href="#" class="apply-btn">
                Enroll Now
              </a>
            </div>
          </div>
          <div class="box">
            <div class="job_content-box">
              <div class="img-box">
                <img src="/assets/job_logo6.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Job Hunt Workshop
                </h5>
                <div class="detail-info">
                  <h6>
                    Place:
                    <span>
                     Madurai
                    </span>
                  </h6>
                  <h6>
                    Fees:
                    <span>
                      Free
                    </span>
                  </h6>
                </div>
              </div>
            </div>
            <div class="option-box">
              <button class="fav-btn">
              </button>
              <a href="" class="apply-btn">
                Enroll Now
              </a>
            </div>
          </div>
          </div>
          </div>
  
        </div>
        </div>
  </section>